.ui.container {
    margin-top: 3%;
    border: none !important;
}

.ui.segment {
    border: none !important;
    box-shadow: none !important;
}

.header {
    font-size: 30px;
    margin-bottom: 1%;
}

.content {
    font-size: 20px;
}

.button {
    margin-top: 1%;
    background-color: #F57C00;
    color: #fff;

    padding: 0.55%;

    border-radius: 10px;
}

