.home {
    background-image: url('https://images.unsplash.com/photo-1503767849114-976b67568b02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}