.ui.container {
    margin-top: 3%;
    border: none !important;
}

.ui.segment {
    border: none !important;
    box-shadow: none !important;
}

.ui.segment:hover {
    color: #F57C00;
}

.header {
    font-size: 20px;
    margin-bottom: 1%;
}

.button {
    margin-top: 1%;
    background-color: #F57C00;
    color: #fff;

    padding: 0.5%;

    border-radius: 4px;
}
